<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
    <div class="row no-gutters">

        {% include 'store/partials/product_single_images.html' %}

        <main class="col-md-6 border-left">

            <form method="post" action="{% url 'add_cart' product.id %}">

                <article class="content-body">

                    {% include 'store/partials/product_single_data.html' %}

                    {% include 'store/partials/product_single_variants.html' %}

                    {% if product.stock <= 0 %}
                        {% include 'store/partials/product_out_stock.html' %}
                    {% else %}
                        {% include 'store/partials/product_single_add_cart.html' %}
                    {% endif %}

                </article>

                {% csrf_token %}

            </form>

        </main>
    </div>
</div>

<br>
